.registro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.register-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
  text-align: center;
  color: white;
  width: 300px; /* Ajusta el tamaño del cuadro */
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: darkred;
}

p {
  margin-top: 10px;
  color: white;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilo para el fondo */
.fondo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../Imagenes/fondo1.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5; /* Ajusta la opacidad si es necesario */
  z-index: -1;
}
